<ion-content>
    <div class="settings__container">
        <h1 class="settings__title">Perfil</h1>
        <div class="settings__content">
            <ion-title size="small">AJUSTES</ion-title>
            <a href="settings">Volver</a>
              <ion-list>
                <ion-item>
                  <ion-label class="label__settings">
                    <p>Historial de donaciones: </p>
                    <ion-title size="small">Historial de donaciones.</ion-title>
                  </ion-label>
                </ion-item>
              </ion-list>
        </div>
    </div>
</ion-content>