<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Mi galeria | {{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="button">NUEVO</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showContainer">
    <div class="image__container" *ngFor="let image of images">
      <ion-title size="small">{{image.name}}</ion-title>
      <ion-img [src]="image.src"></ion-img>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="empty__container" *ngIf="!showContainer">
    <div class="empty__center">
      <ion-img src="assets/empty.svg"></ion-img>
      <p>¡Oops parece que aun no tienes nada en tu galeria!</p>
    </div>
  </div>
</ion-content>