<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Mi galeria | {{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="button">NUEVO</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showContainer">
    <div class="image__container" *ngFor="let image of images">
      <ion-title size="small">{{image.name}}</ion-title>
      <ion-img [src]="image.src"></ion-img>
    </div>
  </div>

  <div class="empty__container" *ngIf="!showContainer">
    <ion-img src="assets/empty.svg"></ion-img>
    <p>¡Oops parece que aun no tienes nada en tu galeria!</p>
  </div>
</ion-content>