<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Galeria | {{user?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="button" (click)="goToDonate()">DONAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getImages($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="showContainer">
    <div class="image__container" *ngFor="let image of images">
      <ion-title size="small">{{image.name}}</ion-title>
      <ion-img [src]="image.src"></ion-img>
    </div>
  </div>

  <div class="empty__container" *ngIf="!showContainer">
    <div class="empty__center">
      <ion-img src="assets/empty.svg"></ion-img>
      <p>Nada por aqui</p>
    </div>
  </div>
</ion-content>