.user__container {
    font-family: Roboto;
    padding: 0 16px;
}

.user__title {
    font-family: SFRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.333333px;
    padding: 20px;
    color: #000000;
    margin-bottom: 26px;
    margin-top: 56px;
}

.label__settings {
    font-family: SFRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

ion-item {
    padding-right: 16px;
}

ion-title {
    font-family: SFBold;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
  
.user__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 22px;
}

.button {
    font-family: SFBold;
    box-sizing: border-box;
    height: 54px;
    width: auto;
    --background: #000000;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
}

.donation__buttons {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
}

a{
    color: #000000;
    text-decoration: none;
}

.image__container {
    margin: 26px 0;
}

.image__container ion-title {
    padding: 0 12px;
    font-size: 20px;
}
.input{
    padding-left: 12px !important;
    display: flex;
    height: 54px;
    width: auto;
    background: #FFFFFF;
    border: 1.6px solid #333333;
    border-radius: 6px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-weight: normal;
    letter-spacing: 0.2px;
}

.input:hover {
    border: 2.6px solid black;
    transition: 0.2s
}