<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="back__button" (click)="goBack()">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="signup__container">
    <h1 class="signup__title">Crear una cuenta</h1>
    <div class="signup__content">
      <ion-input class="input" placeholder="Nombre" (ionChange)="getName($event); checkInputs()" required></ion-input>
      <ion-input class="input" placeholder="Correo Electronico" type="email" (ionChange)="getEmail($event); checkInputs()" required></ion-input>
      <ion-input class="input" placeholder="Contraseña" type="password" (ionChange)="getPassword($event); checkInputs()" required></ion-input>
    </div>
    <div class="signup__buttons">
      <ion-button class="button" [attr.disabled]="isButtonDisabled ? 'disabled': null" (click)="signup()">Crear cuenta</ion-button>
      <p><span>o</span></p>
      <ion-button class="button__external">Crear cuenta con Google 
        <ion-icon slot="start" src="assets/icon/Vector.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="signup__footer">
      <p>Al continuar aceptas los terminos y condiciones.</p>
    </div>
  </div>
</ion-content>
