<ion-content>
  <div class="settings__container">
    <h1 class="settings__title">Ajustes</h1>
    <div class="settings__content">
      <ion-title size="small">General</ion-title>
        <ion-list>
          <ion-item>
            <ion-label class="label__settings">Perfil</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings">Apariencia</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings">Notificaciones</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings">Datos y almacenamiento</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings">Donaciones</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings">Ayuda</ion-label>
          </ion-item>
        </ion-list>
        <div class="donation__buttons">
          <ion-button class='button' (click)="logout();">
            CERRAR SESION
          </ion-button>
        </div>
    </div>
  </div>
</ion-content>