<ion-content>
  <div class="settings__container">
    <h1 class="settings__title">Ajustes</h1>
    <div class="settings__content">
      <ion-title size="small">General</ion-title>
        <ion-list>
          <ion-item>
            <ion-label class="label__settings"><a href="user">Perfil</a></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings"><a href="appearance/appearance.component.html">Apariencia</a></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings"><a href="notifications/notifications.component.html">Notificaciones</a></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings"><a href="data/data.component.html">Datos y almacenamiento</a></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings"><a href="donations/donations.component.html"></a>Donaciones</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label__settings"><a href="help/help.component.html"></a>Ayuda</ion-label>
          </ion-item>
        </ion-list>
        <div class="donation__buttons">
          <ion-button class='button' (click)="logout();">
            CERRAR SESION
          </ion-button>
        </div>
    </div>
  </div>
</ion-content>