<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="back__button" (click)="goBack(); clear();">
          <ion-icon slot="icon-only" name="chevron-back-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="images__container">
    <h1 class="images__title">Expande tu galería</h1>
    <div class="images__content">
      <div *ngIf="image">
        <div class="image_container">
          <ion-card>
            <ion-img [src]="image.data"></ion-img>
            <ion-card-header>
              <ion-card-title style="font-size:22px">{{image.name}}</ion-card-title>
              <ion-card-subtitle>Vista previa de la imagen</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </div>

      <div *ngIf="!image">
        <div class="image__container">
          <ion-card>
            <ion-img src="assets/Getimage.png"></ion-img>
            <ion-card-header>
              <ion-card-title style="font-size:22px">No hay imagen para mostrar</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </div>

      <div class="images__buttons">
        <div *ngIf="image">
          <ion-input class="input" placeholder="Agrega un nombre a la imagen" formControlName="name" type="text"
            (ionChange)="getName($event); checkInputs()">
          </ion-input>
        </div>
        <ion-button class='button' (click)="selectImage();">
          SELECCIONA UNA IMAGEN
        </ion-button>
        <ion-button class='button' [attr.disabled]="isButtonDisabled ? 'disabled' : null" (click)="upload()">
          SUBIR
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>